{%extends 'core/index.html'%}
{%block title%}Portfolio{%endblock%}

{%block backgroundImage%}{%load static %}{% static 'core/img/portfolio-bg.jpg' %}{%endblock%}

{%block headers%}
    <h1>Portfolio</h1>
    <span class="subheading">Trabajos realizados</span>
{%endblock%}

{%block content%}
    <div class="row project">
        <div class="col-lg-3 col-md-4 offset-lg-1">
            <img class="img-fluid" src="{% static 'core/img/about-bg.jpg' %}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
            <h2 class="section-heading title">Segundo proyecto</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, deserunt accusantium suscipit soluta, dicta temporibus id libero perspiciatis eligendi obcaecati et qui eaque magni dolore commodi adipisci eos. Iusto, corporis?
            </p>
            <p><a href="https://google.com">Más información</a></p>
        </div>
    </div>
    <div class="row project">
        <div class="col-lg-3 col-md-4 offset-lg-1">
            <img class="img-fluid" src="{% static 'core/img/home-bg.jpg' %}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
            <h2 class="section-heading title">Primer proyecto</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, deserunt accusantium suscipit soluta, dicta temporibus id libero perspiciatis eligendi obcaecati et qui eaque magni dolore commodi adipisci eos. Iusto, corporis?
            </p>
            <p><a href="https://google.com">Más información</a></p>
        </div>
    </div>
{%endblock%}
